<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css?v=1.0.2">
    <script src="./node_modules/htmx.org/dist/htmx.min.js"></script>
    <title>CMPLN</title>

    <h1>Feelin' bad? Make it even worse by reading the complaints of other people!</h1>
    <p>
        Why? Because you are a miserable human being who wants to stay that way! <br>
        AKA a piece of humongous dankee doodle shit.This is the perfect place for this. <br>
        I mean look at the colors, and the way I wrote complain. I literally left out the vowels! <br>
        That's worth like a gazillion dollars OMG I'm so creative! 
    </p>
    
    
    

    <button 
        id="showButton"
        hx-get="/static/postform.html" 
        hx-get="/static/postform.css"
        hx-target="#modals-here" 
        class="uk-button uk-button-primary" 
        _="on htmx:afterOnLoad wait 10ms then add .uk-open to #modal">Open Modal</button>

    <div id="modals-here"></div>
    
    
    <button hx-get="/posts/test/10" hx-trigger="click" hx-target="#content">More complaints</button>
    
    
</head>
<body>

    <div hx-get="/posts/test/10" hx-target="#content" hx-trigger="load" style="display: none;">get psots</div>

    <div id="content"></div>
    

</body>
</html>


