<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <script src="../node_modules/htmx.org/dist/htmx.min.js"></script>
    <title>CMPLN</title>
    <h1>Feelin' bad? Make it even worse by reading the complaints of other people!</h1>
    <p>
        Why? Because you are a miserable human being who wants to stay that way! <br>
        AKA a piece of humongous dankee doodle shit.This is the perfect place for this. <br>
        I mean look at the colors, and the way I wrote complain. I literally left out the vowels! <br>
        That's worth like a gazillion dollars OMG I'm so creative! 
    </p>
</head>
<body>
    <script>
        document.addEventListener('DOMContentLoadet', function() {
            document.getElementById('websiteloadet').click();
        })
    </script>

    <button hx-get="/posts/test/10" id="websiteloadet" hx-target="#content">get psots</button>

    <div id="content"></div>

    <form hx-post="/testpost">
        <div class="id">
            <label for="id">id</label>
            <input type="text" id="id" name="id">
        </div>
    
        <div class="nickname">
            <label for="nickname">nickname</label>
            <input type="text" id="nickname" name="nickname">
        </div>
    
        <div class="email">
            <label for="email">email</label>
            <input type="email" id="email" name="email">
        </div>
    
        <div class="description">
            <label for="description">description</label>
            <input type="text" id="description" name="description">
        </div>
    
        <div class="topic">
            <label for="topic">topic</label>
            <input type="text" id="topic" name="topic">
        </div>
    
        <button type="submit">submit</button>
    </form>
    

</body>
</html>


